<nav class="bg-gray-800 p-4">
    <div class="container mx-auto flex justify-between items-center">
      <div class="text-white text-lg font-bold">
        <a href="/">ProxyFlare</a>
      </div>
      <div class="flex space-x-4">
        <a href="<%=nginxProxyManagerURL%>" target="_blank" class="text-white hover:text-gray-400">
          Nginx Proxy Manager
        </a>
        <a href="https://dash.cloudflare.com" target="_blank" class="text-white hover:text-gray-400">
          Cloudflare
        </a>
      </div>
    </div>
  </nav>